<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Алина Гаан - портфолио" />
    <meta name="author" content="Alina Gaan" />
    <link
      rel="shortcut icon"
      href="assets/img/icons/logotype.svg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/libraries/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="assets/libraries/normalize.css" />
    <link rel="stylesheet" href="assets/css/style.min.css" />
    <title>{{ title }}</title>
  </head>
</html>
