<div
  id="swup"
  class="row no-gutters projects__block logo__content transition-fade"
>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/logo/mike-baker.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/mike-baker.png" alt="mike-baker"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/logo/grigorevka.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/grigorevka.png" alt="grigorevka" />
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/logo/office-cube.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/office-cube.png" alt="office-cube" />
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/logo/great-food.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/great-food.png" alt="great-food"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a data-src="assets/img/logo/folks.jpg" href="#" class="projects__card">
        <img src="assets/img/icons/website/folks.png" alt="folks"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a data-src="assets/img/logo/titan.jpg" href="#" class="projects__card">
        <img src="assets/img/icons/website/titan.png" alt="titan"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a data-src="assets/img/logo/teslya.jpg" href="#" class="projects__card">
        <img src="assets/img/icons/website/teslya.png" alt="teslya"
      /></a>
    </div>
  </div>
</div>
