<div
  id="swup"
  class="row no-gutters projects__block website__content transition-fade"
>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/presentation/mike-baker.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/mike-baker.png" alt="mike-baker"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a href="https://grigorevka.ru/" class="projects__card">
        <img src="assets/img/icons/website/grigorevka.png" alt="grigorevka"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/presentation/office-cube.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/office-cube.png" alt="office-cube" />
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/presentation/nikas.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/nikas.png" alt="nikas"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/presentation/great-food.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/great-food.png" alt="great-food"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/presentation/folks.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/folks.png" alt="folks"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a href="#" class="projects__card">
        <img src="assets/img/icons/website/school.png" alt="school"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a href="#" class="projects__card">
        <img src="assets/img/icons/website/miles&yards.png" alt="miles&yards"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/presentation/titan.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/titan.png" alt="titan"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a href="#" class="projects__card">
        <img src="assets/img/icons/website/premium.png" alt="premium"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a href="#" class="projects__card">
        <img src="assets/img/icons/website/teslya.png" alt="teslya"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a href="#" class="projects__card">
        <img src="assets/img/icons/website/maskastav.png" alt="maskastav"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a href="#" class="projects__card">
        <img src="assets/img/icons/website/soso.png" alt="soso"
      /></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="projects__wrap">
      <a
        data-src="assets/img/presentation/joker.jpg"
        href="#"
        class="projects__card"
      >
        <img src="assets/img/icons/website/joker.png" alt="joker"
      /></a>
    </div>
  </div>
</div>
